@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Vollkorn', sans-serif;
    font-size: 16px;
}
.container{
    /* background-image: url(water.jpg); */
    max-width: 800px;
    margin: auto;
    padding-top: 9px;
}
.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}
.aboutme {
}
.card{
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 8px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active{
    color: #000080;
}
ul {
    list-style: none;
    color: #000080;
}
table {
    width: 80%;
}
table th{
    text-align: left;
    font-size: large;
    padding-bottom: 12px;
}
table td{
    text-align: left;
    padding-bottom: 8px;
}

.social {

}
.sendform {

}
.inform {

}
.btn{
    background: PeachPuff;
    padding: 7px 14px;
    color: #000;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
}