@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #202020;
    /* background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
body {
    font-family: 'Vollkorn', sans-serif;
    font-size: 15px;
}
.container{
    background-image: url(imgs/zxs.jpg);
    color: PeachPuff;
    max-width: 768px; 
    margin: auto;
    padding-top: 16px;
}
.avatar {
    width: auto;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25);
}
.aboutme {
    width: auto;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 8px;
    margin-right: 6px;
    margin-left: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 25);
}
.tophed {
     margin-bottom: 12px; 
    display: flex;
}
.aboutme a {
    font-style: italic;
    text-decoration: none;
    color: PeachPuff;
}
@media (max-width: 650px) {
    .tophead {
      display: block;
      text-align: center;
    }
  }
.card{
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 8px;
    margin-right: 6px;
    margin-left: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 25);
}
#vk {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 15px;
    padding: 15px 15px; 
    transition: 0.4s ease-in-out;
    border-radius: 7px;
    background-image: url(imgs/VK_icon.jpg);
}
#vk:hover{
    opacity: 0.4;
}
#telega {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 15px;
    padding: 15px 15px;
    transition: 0.4s ease-in-out;
    border-radius: 7px;
    background-image: url(imgs/telegram_icon.jpg)
}
#telega:hover{
    opacity: 0.4;
}
#hobby ul {
    list-style: none;
}
#work table {
    width: 90%;
}
#work table th{
    text-align: left;
    font-size: large;
    padding-bottom: 12px;
}
#work table td{
    text-align: left;
    padding-bottom: 8px;
}
.form h2 {
    text-align: center;
}
.form-group{
    display: block;
}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    color: #a07f62;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group {
    width: 50%;
    margin-right: 15px;
}

.btn{
    background: PeachPuff;
    padding: 7px 14px;
    color: #000;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
    font-family: inherit;
}
.btn:hover{
    opacity: 0.6;
}