@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #202020;
}
body {
    font-family: 'Vollkorn', sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.container{
    background-image: url(imgs/zxs.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: PeachPuff;
    max-width: 800px; 
    margin: auto;
    padding-top: 20px;
}
.avatar {
    width: 240px;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25);
}
.tophed {
    margin-bottom: 20px; 
   display: flex;
}
.aboutme {
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 8px;
    margin-right: 6px;
    margin-left: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 25);
}
.aboutme a {
    font-style: italic;
    font-family: inherit;
    text-decoration: none;
    color: rgb(240, 142, 56);
}
.aboutme p a:active {
    color: antiquewhite;
}
@media (max-width: 799px) {
    .tophed {
      display: block;
      text-align: center;
    }
  }
.card{
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 8px;
    margin-right: 6px;
    margin-left: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 25);
}
.social {
    width: 35%;
    margin: 10px auto;
}
#vk {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 15px;
    padding: 15px 15px; 
    transition: 0.4s ease-in-out;
    border-radius: 7px;
    background-image: url(imgs/vk_icon.jpg);
}
#vk:hover {
    opacity: 0.4;
}
#telega {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 15px;
    padding: 15px 15px;
    transition: 0.4s ease-in-out;
    border-radius: 7px;
    background-image: url(imgs/telegram_icon.jpg)
}
#telega:hover{
    opacity: 0.4;
}
#hobby h2{
    text-align: center;
}
#hobby ol {
    margin-left: 20px;
    margin-bottom: 5px;
}
#hobby li {
    margin-bottom: 5px;
}
#work table { 
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
#work table th{
    border-bottom: 2px solid #5a5b60;
    font-size: 18px;
    padding: 10px 8px;
}
caption {
    caption-side: top;
    text-align: center;
    font-style: inherit;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}
#work table td{
    border-bottom: 1px solid #5a5b60;
    padding: 9px 8px;
    transition: .3s linear;
}
.form h2 {
    text-align: center;
}
.form-group{
    display: block;
}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    color: #a07f62;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group {
    width: 50%;
    margin-right: 15px;
}
@media (max-width: 799px) {
    .form-row {
      display: block;
    }
    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
  }

.btn{
    background: PeachPuff;
    padding: 7px 14px;
    color: #000;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
    font-family: inherit;
}
.btn:hover{
    opacity: 0.6;
}